{
  "singleQuote": true,
  "trailingComma": "all",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["^@nestjs/(.*)$", "^@src/(.*)$", "^[./]"],
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": [
    "typescript",
    "[\"decorators-legacy\", { \"decoratorsBeforeExport\": true }]"
  ]
}
