{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true
    },
    "transform": {
      "decoratorMetadata": true
    },
    "target": "es2017"
  },
  "module": {
    "type": "commonjs"
  }
}
